%h1.govuk-heading-l
  = I18n.t('application_title')
%p
  Use this service to manage vehicles that are on the whitelisted vehicle register.
  Vehicles on the register are exempt from charges in Clean Air Zones.
